@{
    ViewBag.Title = "Sales&Inventory";
}

<div class="jumbotron">
    <h1>Sales&amp;Inventory</h1>
    <p class="lead">There is a benefit for any shopping complex</p>

</div>

<div class="row">
    <div class="col-md-3">
        <h2>@Html.ActionLink("Districts", "Index", "Districts")</h2>
        <p>Crud Districts</p>

    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Divisions", "Index", "Divisions")</h2>
        <p>Crud Divisions</p>
    </div>

    <div class="col-md-3">
        <h2>@Html.ActionLink("Clients", "Index", "Clients")</h2>
        <p>Crud Clients</p>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("BookGroups", "Index", "BookGroup")</h2>
        <p>Crud Employees</p>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Books", "Index", "Book")</h2>
        <p>Crud Employees</p>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Masters", "Index", "Tr_Masters")</h2>
        <p>Crud Employees</p>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Details", "Index", "Tr_Details")</h2>
        <p>Crud Employees</p>
    </div>
</div>