@model InventoryProject.Models.Book

@{
    Layout = "~/Views/DashBoard/DashBoard.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookOpnBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookOpnBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookForma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookForma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookGroup.MainBookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookGroup.MainBookName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
