@model IEnumerable<InventoryProject.Models.Tr_Details>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookGroupID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commission)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Tr_Masters.MemoNo)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookGroupID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commission)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Tr_Masters.MemoNo)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Tr_DetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Tr_DetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Tr_DetailID })
        </td>
    </tr>
}

</table>
